<!DOCTYPE html>
html(lang="en")
head
	block head
	link(href='/assets/css/style.css', rel='stylesheet')
	meta(charset="UTF-8")

body

	main
		block content
	
	footer &copy; #{site.name}. Built with Estatico Site Generator